<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>title</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar">&nbsp;</div>

<div class="main-card card border-0 shadow m-auto mt-4">
    <div class="card-body">
        <form th:method="PATCH" th:action="@{/events/{id}(id=${event.getId()})}" th:object="${event}">
            <div class="mb-3">
                <label th:for="${#ids.next('name')}" class="form-label">Name</label>
                <input th:field="*{name}" type="text" class="form-control" />
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger"></div>
            </div>
            <div class="mb-3">
                <label th:for="${#ids.next('participants')}" class="form-label">Participants</label>
                <input th:field="*{participants}" type="text" class="form-control" />
                <div th:if="${#fields.hasErrors('participants')}" th:errors="*{participants}" class="form-text text-danger"></div>
            </div>
            <div class="mb-3">
                <label th:for="${#ids.next('date')}" class="form-label">Date</label>
                <input th:field="*{date}" type="date" class="form-control" />
                <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="form-text text-danger"></div>
            </div>
            <div class="mb-3">
                <label th:for="${#ids.next('startTime')}" class="form-label">Start time</label>
                <input th:field="*{startTime}" type="time" class="form-control" />
                <div th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" class="form-text text-danger"></div>
            </div>
            <div class="mb-3">
                <label th:for="${#ids.next('endTime')}" class="form-label">End time</label>
                <input th:field="*{endTime}" type="time" class="form-control" />
                <div th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" class="form-text text-danger"></div>
            </div>
            <button type="submit" class="btn btn-success">Confirm changes</button>
            <a th:href="${#request.getHeader('referer')}" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>
</body>
</html>